h1 {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: 2px 2px #001aff;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color:rgb(31, 31, 182);
}

h3 {
    color:rgb(31, 31, 182);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h4 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}

.header {
    background-color: #54a8ec;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
  
/* Styles the links in nav bar */
.topnav ul {
    display:flex;
    flex: left;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.topnav ul :hover {
    background-color: rgb(124, 181, 255);
    color: rgb(255, 255, 255);
}

.topnav a{
    color: rgb(14, 108, 250);
}

/* .row {
    /* overflow: scroll;
} */


.leftcolumn {   
    float: left;
    width: 75%;
}

.space {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

img {
    border-radius: 50%;
}

#message {
    height: 300px;
    width: 600px;
    
}
.form {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 20px;

}
.message {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.submitButton {
    width: 180px;
    color: #fff;
    background: #42b721;
    border: 1px solid #42b72a;
    outline: none;
    font-size: 16px;
    padding: 16px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 6px;
}

.forms {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.input {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

}

.inputButton {
    width: 170px;
    color: #fff;
    background: #42b721;
    border: 1px solid #42b72a;
    outline: none;
    font-size: 16px;
    padding: 16px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 50px;
    margin-bottom: 10px;
}