.App {
  position: fixed;
  top: 0;
  background-image: url("https://i.pinimg.com/originals/eb/ef/68/ebef680475fc9fa58c0618c2697ed867.jpg");
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

.Contacts {
  display: flex;
  flex: left;
  gap: 30px;
  color:rgb(0, 0, 0);
  align-items: center;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
} 

nav{
  background-color: white;
}

nav ul{
  display:flex;
  flex: left;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style-type: none;
}

.dashInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
  
.dashContacts {
  flex: 2;
  margin: 0px 10px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px rgb(31, 31, 182); 
  box-shadow: 5px 5px 15px 5px rgb(91, 91, 235);
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}
  
.dashGroups {
  flex: 2;
  margin: 0px 10px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px rgb(31, 31, 182); 
  box-shadow: 5px 5px 15px 5px rgb(91, 91, 235);
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}
  
.dashMessages{
  flex: 2;
  margin: 0px 10px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px rgb(31, 31, 182); 
  box-shadow: 5px 5px 15px 5px rgb(91, 91, 235);
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}


.button {
  width: 180px;
  margin: auto;
  margin-top: 25px;
  color: #fff;
  background: #42b721;
  border: 1px solid #42b72a;
  outline: none;
  font-size: 16px;
  padding: 16px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 6px;
}

input {
  padding: 16px;
  border: 1px solid #d4def3;
  border-radius:7px;
  outline:none;
  margin-bottom:10px;
}

.sign-in_form {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

